html {
  font-family: Verdana, Helvetica, sans-serif;
}



h1 {
  background-image: url("http://www.elmawke3.com/wp-content/uploads/2015/01/clear-blue-wave-vince-cavataio.jpg");
  background-size: 100%;
  font-size: 100px;
  font-weight: bold;
  color: navy;
  text-align: center;
}
#activities {
  background-color: mediumspringgreen;
}
.item h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.price {
  color: green;
  font-weight: bold;
}

#healthy {
  background-color: lightcoral;
}

#contact {
  background-color: skyblue;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
